@font-face {
	font-family: Josefin Sans Light;
	src: url("./fonts/JosefinSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: Josefin Sans;
	src: url("./fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Abel;
	src: url("./fonts/Abel-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Philosopher;
	src: url("./fonts/Philosopher-Regular.ttf") format("truetype");
}

body {
	background: rgb(234, 255, 239);
	margin:0;
	padding:0;
}

.text {
	text-align: center;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 90%;
	padding: 10px;
}

img.back {
	position: absolute;
  top: 8px;
  left: 16px;
	height: 20px;
	width: 20px;
}

img.backimg {
	width: 100%;
	height: 250px;
}

.header {
	position: relative;
  text-align: center;
}

h1 {
	font-family: Abel;
	font-size: 50px;
	text-align: center;
}

h2 {
	font-family: Abel;
}

.post {
	text-align: left;
	background: white;
	padding: 10px;
	border: 1px grey solid;
	border-radius: 15px;
	margin: 1% 5%;
}

h3 {
	font-family: Abel;
	font-size: 20px;
	margin: none;
	padding-bottom: none;
}

h4 {
	font-family: Abel;
	font-size: 15px;
	color: grey;
	font-style: italic;
}

.post p {
	font-family: Josefin Sans;
	font-size: 14px;
	color: rgb(85, 84, 84);
	margin: 1px;
	padding: 1px;
	line-height: 1.3;
}

p {
	background: white;
	padding: 20px;
	margin: 5% 12%;
	border-radius: 10px;
	font-family: Josefin Sans Light;
	font-size: 16px;
	line-height: 1.3;
}

/*link animation*/

:root {
  --mainColor:#3DDABA;
}

a {
  background:
     linear-gradient(
       135deg, rgba(61,218,186,1) 0%, rgba(230,231,156,1) 100%
     );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: auto 2px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
}

/*navbar*/
ul.navbar {
	list-style-type: none;
 	margin: 0 auto;
	border: 15px solid transparent;
  	border-image-source: linear-gradient(135deg, rgba(61,218,186,1) 0%, rgba(230,231,156,1) 100%);
  	border-image-slice: 10;
	border-width: 0;
	border-bottom: 2px;
	border-image-repeat: stretch;
  	border-style: solid;
	text-align:center;
	position: fixed;
	width: 100%;
	background: transparent;
	top: 0;
	z-index: 100;
	box-shadow: 2px 2px 8px rgba(77, 78, 78, 0.781);
}

.navbar li {
	display:inline-block;
}

.navbar a {
  float: left;
  font-size: 16px;
  color:black;
  text-align: center;
  padding: 14px 16px;
  font-family: Josefin Sans Light;
  text-decoration: none;	
	display: inline-block;
	background: none;
	height: 100%;
}

.navbar a:hover {
	transition: 0.1s;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(61,218,186,1) 0%, rgba(230,231,156,1) 100%);
}



h5 {
	text-align: center;
	font-size: 20px;
	font-family: Abel;
}


